[commit]
	gpgsign = true
[core]
	autocrlf = false
	editor = nvim -c 'set spell'
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[push]
	default = current
[user]
	email = andreas.z.nasman@gmail.com
	name = Andreas Näsman
