[commit]
	gpgsign = true
[core]
	autocrlf = false
	editor = nvim -c 'set spell'
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
	useHttpPath = true
[gpg]
	program = /mnt/c/Program Files (x86)/gnupg/bin/gpg.exe
[init]
	defaultBranch = main
[push]
	default = current
[user]
	email = andreas.z.nasman@gmail.com
	name = Andreas Näsman
