# Directories
Docker Desktop/
KDE/
autostart/
dconf/
fontconfig/
google-chrome/
grammarly-languageserver/
gtk-3.0/
gtk-4.0/
htop/
kde.org/
kdedefaults/
libaccounts-glib/
menus/
neofetch/
plasma-welcomerc
pulse/
session/
vlc/
xsettingsd/

# Files
.zcompdump*
PlasmaDiscoverUpdates
QtProject.conf
Trolltech.conf
akregatorrc
arkrc
baloofileinformationrc
baloofilerc
bluedevilglobalrc
discoverrc
dolphinrc
emaildefaults
gtkrc
gtkrc-2.0
gwenviewrc
kactivitymanagerd-statsrc
kactivitymanagerdrc
katemetainfos
katerc
kateschemarc
katevirc
kcminputrc
kconf_updaterc
kded5rc
kdeglobals
kfontinstuirc
kglobalshortcutsrc
khotkeysrc
kinfocenterrc
kmixrc
konsolerc
konsolesshconfig
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
mimeapps.list
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma.emojierrc
plasmanotifyrc
plasmaparc
plasmashellrc
plasmawindowed-appletsrc
plasmawindowedrc
powerdevilrc
powermanagementprofilesrc
spectaclerc
systemmonitorrc
systemsettingsrc
trashrc
user-dirs.dirs
user-dirs.locale
xdg-desktop-portal-kderc
