# Directories
Docker Desktop/
KDE/
autostart/
dconf/
fontconfig/
gtk-3.0/
gtk-4.0/
htop/
kde.org/
kdedefaults/
libaccounts-glib/
neofetch/
pulse/
session/
xsettingsd/

# Files
PlasmaDiscoverUpdates
QtProject.conf
Trolltech.conf
akregatorrc
arkrc
baloofileinformationrc
baloofilerc
bluedevilglobalrc
discoverrc
dolphinrc
gtkrc
gtkrc-2.0
kactivitymanagerd-statsrc
kactivitymanagerdrc
katemetainfos
katerc
kateschemarc
katevirc
kcminputrc
kconf_updaterc
kded5rc
kdeglobals
kglobalshortcutsrc
khotkeysrc
kmixrc
konsolerc
konsolesshconfig
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma.emojierrc
plasmanotifyrc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
systemmonitorrc
systemsettingsrc
trashrc
user-dirs.dirs
user-dirs.locale
xdg-desktop-portal-kderc
