<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2FA_ENABLED</key>
	<true/>
	<key>EMAIL</key>
	<string>andreas.nasman@abo.fi</string>
	<key>bw_keyword</key>
	<string>bi</string>
	<key>bwauth_keyword</key>
	<string>biauth</string>
	<key>bwauto_keyword</key>
	<string>biauto</string>
	<key>bwautolock_keyword</key>
	<string>biautolock</string>
	<key>bwconf_keyword</key>
	<string>biconfig</string>
	<key>bwf_keyword</key>
	<string>bif</string>
</dict>
</plist>
