<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2FA_ENABLED</key>
	<true/>
	<key>EMAIL</key>
	<string>andreas.z.nasman@gmail.com</string>
	<key>bw_keyword</key>
	<string>bi</string>
</dict>
</plist>
