<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>06AED9F7-A41C-415B-81F7-F6B175048A9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1BA3271D-C8FA-4427-A7F6-FB9E4C0F16CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B228F36C-FEEC-4CA1-B4F8-6FC587E6ED37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06AED9F7-A41C-415B-81F7-F6B175048A9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0186F1C-EA08-4B68-90F3-808A8207EE7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B228F36C-FEEC-4CA1-B4F8-6FC587E6ED37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nasse</string>
	<key>description</key>
	<string>Trims and converts given text to lowercase.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Trim and make lowercase.</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1BA3271D-C8FA-4427-A7F6-FB9E4C0F16CB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tl</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Trim and make lowercase.</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F0186F1C-EA08-4B68-90F3-808A8207EE7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>06AED9F7-A41C-415B-81F7-F6B175048A9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>B228F36C-FEEC-4CA1-B4F8-6FC587E6ED37</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>06AED9F7-A41C-415B-81F7-F6B175048A9B</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>1BA3271D-C8FA-4427-A7F6-FB9E4C0F16CB</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>B228F36C-FEEC-4CA1-B4F8-6FC587E6ED37</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>F0186F1C-EA08-4B68-90F3-808A8207EE7A</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
